@media (max-width: 1440px) {

}


@media (max-width: 1200px) {
    .block{
        justify-content: center;
    }
     .page-section{ 
        flex-direction: column;
        justify-content: center;
    }
    
    .footer-block{
        width: 100%;
        justify-content: center;
        text-align: center;
    }  
    .information p{
    width: 100%;
}
.page-block{
    width: 100%;
    justify-content: center;

}
.section-contact{
    flex-direction: column;
    text-align: center;
}

    

}


@media (max-width: 991px) {
  
  
}


@media (max-width: 767px) {
    .header-block{
        justify-content: center;
    }
    .canvas{
        flex-direction: column;
        align-items: center;

    }
    .footer-block{
        justify-content: center;
    }
  
}


@media (max-width: 576px) {
    .header-block{
        justify-content: center;
    }
    .block{
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .section-block{
        width: 100%;
        justify-content: center;
    }
   
    .effect h2, .effect p{
        font-size: 15px;
    }

   .inform img{
    width: 100%; 
}
.page-block{
flex-direction: column;
text-align: center;
} 
.images-block p{
    width: 100%;
    padding: 0 80px;
}


}
@media (max-width: 320px) {
    .information img{
        width: 300px;
    }
    .simple{
        text-align: center;
    }
    
}