* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.cover-section{
    margin-bottom: 50px;
}
.header-block{
    gap: 20px;
}
.page-cover { 
    margin: 40px;
    gap: 10px;
}
.canvas {
    width: 85%;
    min-height: 500px;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.link ul{
    padding-bottom: 15px;
    gap: 20px;
}
.link ul li{
display: inline;
}
.link ul li a{
   color: white;
   text-decoration: none;
   display:block;
   font-size: large;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.link ul li a:hover{
    text-decoration: underline;
}


.effect h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.effect p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: gray;
    width: 50%;
    padding: 30px 0;
    text-align: center; 
} 
.style{
    margin: 30px 0;
    gap: 20px;
}
.style button{
    width: 90px;
    height: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: white;
    color: rgb(3, 123, 123);
    border: 1px solid rgb(3, 123, 123);
}
.style button:hover{
    background-color: rgb(3, 123, 123);
    color: white;
}
.block{
    gap: 20px;
    
}
.inform{
    margin: 30px 0;
}
.inform img{
    width: 300px;
    height: 300px;
}
.inform h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    color: blue;
    padding: 20px 0;
}
.inform p{
    width: 200px;
    text-align: center;
    color: gray;
    margin-left: 40px;
    
}
.page-section{
    gap: 20px;
}
.footer-block{
    width: 50%;
}

.information img{
    width: 400px;
    min-height: 300px;
}

.information h2{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.information p{
   width: 400px;
   padding: 10px 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 15px;
   color: gray;
   line-height: 30px;
}

.information button{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: white;
    color: gray;
    border: 1px solid gray;
}
.information button:hover{
    background-color: gray;
    color: white;
}
.simple{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}


/* about.html */


.section-block{
   gap: 20px;
}

.page-block{
    gap: 50px;  
    margin-bottom: 30px;
}

.images-block img{
    width: 200px;
    min-height: 300px;   
}

.images-block h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: rgb(8, 96, 150);
}
.images-block h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: fuchsia;
    padding: 10px 0;
}
.images-block p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    width: 250px;
}
.pictures{
    width: 70%;
    min-height: 500px;
}

.counsel{
    text-align: center;
    margin-bottom: 30px;
}

.counsel img{
    width: 80px;
    height: 80px;
}
.counsel p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 300px;
    padding: 30px 20px;
    line-height: 30px;
}
.push button{
    width: 100px;
    height: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color:white;
    background-color: rgb(6, 145, 145);
    border-color: rgb(6, 154, 154);
}
.push button:hover{
    background-color: rgb(4, 66, 66);
}
.stub button{
    width: 100px;
    height: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color:white;
    background-color: rgb(5, 122, 28);
    border-color: rgb(5, 122, 28);
}
.stub button:hover{
    background-color: rgb(8, 70, 40);
}
.knob button{
    width: 100px;
    height: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color:white;
    background-color: rgb(166, 41, 10);
    border-color: rgb(166, 41, 10);
}
.knob button:hover{
    background-color: rgb(99, 31, 10);
}

/* contact.html */

.section-contact{
    width: 50%;
    gap: 20px;
}

.contact input{
    width: 350px;
    height: 50px;
    padding: 10px;
    margin: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: azure;
}
.contact input::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: black;
}
.contact textarea{
    width: 350px;
    height: 100px;
    padding: 10px;
    margin: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: azure;
}
.contact textarea::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: black;
}

.contact button{
    margin: 20px;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: rgb(14, 136, 67);
    color: white;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.contact button:hover{
    background-color: rgb(6, 58, 20);
}
.contact h3{
    margin-top: 20px;
    padding: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: rgb(15, 88, 88);
}
.contact p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 30px;
}
.contact i{
    font-style: 24px;
    color: rgb(22, 108, 108);
    padding: 10px;
}
.cover-section iframe{
    width: 70%;
    min-height: 400px;
}
.list ol li{
    margin: 20px;
    border: 2px solid black;
   
    
}
.list ol li a{
    text-decoration: none;
    color: gray;
    text-align: center;
    
}
.list ol li a:hover{
    color: rgb(9, 52, 52);
}






